@import "../../styles/colors.scss";

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    .button-name{
        all:unset;
        display: flex;
        font-size: 12px;
        font-weight: 600;
        .icon-img {
            width: 16px;
            height: 16px;
            padding-right: 4px;
        }
    }
    table{
        width:80%;
        border-collapse: collapse;
    }
    th{
        text-align: start; 
        padding-bottom: 10px;
    }
    tr{
        border-bottom: 1px solid #cfd6e4;
    }
    td{
        padding: 10px 0 6px  4px;
        font-size: 12px;
    }
    .volume {
        color: rgb(56, 97, 251);
    }
    .red{
       color: rgb(217, 64, 64);
    }
    .green{
        color:rgb(0,158,115);
    }
    .right-align{
        text-align: end;
    }
}