@import "../../styles/colors.scss";
@import "../../styles/styleFunctions.scss";

.table-container {
    display: flex;
    align-items: center;
    justify-content: center;
    table{
        width:100%;
        border: 1px solid black;
    }
    th{
        text-align: start; 
    }
    tr{
        border-bottom: 1px solid black;
    }
    td{
        padding-left: 4px;
        padding-top: 10px;
    }
}