@import "../../styles/colors.scss";
@import "../../styles/styleFunctions.scss";

.container{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    .header{
       height: 100px;
       background-color: rgba(255, 255, 255, 0.8);
       display: flex;
       align-items: center;
       justify-content: center;
       .title{
        font-size: 30px;
        font-weight: 600px;
        line-height: 1.6;
       }
    }
    .layout{
        padding: 10px 0;
        border-bottom: 1px solid #cfd6e4;
    }
    .layout-title{
        display: inline;
    }
    .layout-rxt{
        margin:0;
        padding: 0;
        width:150px;
        position: absolute;
        left: -35px;
    }
    .layout-vol{
        margin:0;
    }
}